.slick-dots {
	li.slick-active {
		button {
			&:before {
				color: #dcf836 !important;

			}
		}
	}
}
.slick-dots {
	li {
		button {
			&:before {
				font-size: 12px !important;
				color: white !important;
			}
		}
	}
}
.details-image{
	border-radius: 5px;
}
// .slick-dots {
// 	top: -40px !important;
// 	text-align: right !important;
// 	bottom: 0px !important;
// }
.btn-transform.transform-vertical {
	.item-1 {
		transform: rotateX(0deg);
	}
}
.btn-transform {
	.item {
		position: absolute;
		display: inline-block;
		left: 0;
		right: 0;
		text-align: center;
		display: block;
		backface-visibility: hidden;
		transition: transform 0.5s ease;
		-webkit-transition: -webkit-transform 0.5s ease;
		text-transform: uppercase;
	}
}
.redbtn {
	font-family: 'Dosis', sans-serif;
	font-size: 14px;
	color: #abb7c4;
	font-weight: bold;
	text-transform: uppercase;
	background-color: #dd003f;
	color: #ffffff;
	padding: 13px 25px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
